@media(min-width: 1025px) and (max-width: 4000px) {
    ._mob-bottles {
      display: none;
   }
   ._mob-pillows {
      display: none;
   }
   ._mob-purpleBall {
      display: none;
   }
   .headerMobile_darkOrange {
      display: none;
   }
   ._boutles-mobile {
      display: none;
   }
   .mob_yellow-bottom {
      display: none;
   }
   .mob_orange-bottom {
      display: none;
   }
   
    .landing_header {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto 1fr;
       position: relative;
       overflow: hidden;
        }
    .header_container {
        grid-column-start: 1;
        grid-column-end: 3;
          }
    .landing_header-left {
        display: flex;
        flex-direction: column;
        padding: 152px 0 271px 22.44%;
    }
    .header_yellow-strip {
        position: absolute;
        top: 0;
        left: 30.66%;
        }
        .landing_header-title {
            @include mainTitle;
            font-size: 56px;
            line-height: 68px;
            max-width: 82%;
            letter-spacing: 0.007em;
            margin-bottom: 32px;
        }
        .orange-span {
            color: $mainOrange;
        }
        .landing_header-text {
            font-family: $sansReg;
            font-size: 20px;
            line-height: 163.42%;
            color: #808080;
            max-width: 70%;
            margin-bottom: 51px;
        }
        .header_link-wrapper {
            display: flex;
            align-items: center;
            column-gap: 34px;
        }
        ._header-button {
            @include button();
            background: $purple;
            width: 260px;
            height: 74px;
            font-size: 20px;
            font-family: $sansBold;
        }
        ._header-link {
            font-size: 20px;
            line-height: 24px;
            font-family: 'Effra-Medium';
            color: $mainOrange;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
        ._header-link::after {
            content: url('@img/arrow-right.svg');
            margin-top: 5px;
        }
        .header_darkOrangeStrip {
            position: absolute;
            bottom: 37px;
            left: 50%;
            transform: translate(-50%);
        }
        .landing_header-right {
            width: 100%;
            margin-top: -110px;
            z-index: -1;
            background: $greyBg;
             display: flex;
             justify-content: center;
             align-items: center;
        }
        ._header-right-imgWrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: -3;
        }
        ._header-right-imgWrapper img {
          object-fit: cover;
           
             }
             ._purple-circle {
                z-index: 5;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-width: 523px;
                max-height: 523px;
             }
             ._boutles {
                z-index: 6;
                position: absolute;
                top: 57.8%;
                left: 39.8%;
                transform: translate(-50%,-50%);
             }
             ._yellow-circle {
                position: absolute;
                top: 17.8%;
                right: 8.2%;
                z-index: 7;
                max-width: 95px;
                max-height: 95px;
             }
             //main-------------------------------------------------------------------------------------
             .main_wrapper {
                position: relative;
                 }
             .main_upper {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                position: relative;
                }
             .main_upper-left {
                position: relative;
             }
             ._upper-leftBg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
             }
             .main_orange-circle {
                position: absolute;
                top: 6.8%;
                left: 14%;
             }
             .main_upper-leftTitle {
                @include mainTitleWhite();
                z-index: 3;
                position: absolute;
                top: 48%;
                left: 54%;
                transform: translate(-50%,-50%);
                font-size: 56px;
                line-height: 68px;
                width: 63%;
                letter-spacing: 0.004em;
             }
             .main_upper-right {
                 display: flex;
                 flex-direction: column;
                padding: 217px 0 0 61px;
                row-gap: 109px;
             }
             .main_upper-rightRow {
                display: flex;
                align-items: center;
                column-gap: 90px;
             }
             ._row-text {
                font-family: $effraMed;
                font-size: 30px;
                line-height: 36px;
                color: $black;
                max-width: 55%;
             }
             ._rightRow-margin {
                margin-left: 7px;
             }
             ._upper-left-bottles {
                position: absolute;
                bottom: -18%;
                left: 11.2%;
                z-index: 2;
             }
             ._upper-left-pillows {
                position: absolute;
                left: 37.7%;
                bottom: -38.5%;
                z-index: 1;
             }
             .main_middle {
                display: grid;
                grid-template-columns: 11% 50% 25%;
                column-gap: 150px;
                padding: 522px 0 0 8.3%;
                overflow: hidden;
             }
             .main_middle-stripWrapper {
                padding-top: 16px;
             }
             .main_middle-stripWrapper img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
             }
             .main_middle-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 50px;
             }
             ._middle-infoLogo {
                 max-width: 99px;
                 max-height: 99px;
                object-fit: cover;
                margin-left: 7px;
                margin-top: -3px;
                margin-bottom: 3px
             }
             ._middle-infoTitle {
                @include mainTitle();
                font-size: 56px;
                line-height: 68px;
                text-align: center;
                max-width: 83%;
                
             }
             ._middle-infoText {
                font-size: 20px;
                line-height: 163.42%;
                font-family: $sansReg;
                color: $lightGrey;
                text-align: center;
                margin-top: -21px;
                max-width: 94%;
                margin-left: 11px
             }
             ._middle-infoLink {
                @include button();
                width: 260px;
                height: 74px;
                background: $purple;
                font-size: 20px;
                font-family: $sansBold;
                margin-left: 11px;
             }
             ._middle-rightCircle {
                margin-left: 27px;
                margin-top: 1px;
                z-index: 1;
             }
             ._middle-rightStrip {
                z-index: 2;
                margin-top: -335px;
                margin-left: 50px;
                opacity: 0.05;
                object-fit: cover;
             }
             //main-examples---------------------------------------------------------------------
             .main_examples {
                display: flex;
                width: 100%;
                height: 825px;
                align-items: center;
                margin-top: 150px;
                //overflow: hidden;
                position: relative;
             }
             .examples_card {
                width: 22.222%;
                height: 494px;
                display: flex;
                flex-direction: column;
                background: #89D4A7;
               padding: 40px 0 0 30px;
               margin-top: -31px;
               border-radius: 16px;
               box-sizing: border-box;
               }
              ._examples_card1 {
               position: absolute;
               top: 52%;
               left: 11.2%;
               transform: translate(0,-50%);
            } 
             ._examples_card2 {
                background: #9C91E0;
                z-index: 1;
                position: absolute;
                top: 52%;
                left: 35.2%;
                transform: translate(0,-50%);
             }
             .examples_card-img {
                object-fit: cover;
                max-width: 100%;
                align-self: center;
                margin-bottom: 40px;
                margin-left: -28px;
             }
             .examples_card-name {
                font-family: $sansSemi;
                font-size: 14px;
                line-height: 19px;
                color: $white;
                margin-bottom: 14px;
                opacity: 0.5;
             }
             .examples_card-title {
                font-family: $effraMed;
                font-size: 24px;
                line-height: 29px;
                color: $white;
                margin-bottom: 17px;
             }
             .examples_card-description {
                font-family: $sansReg;
                font-size: 16px;
                line-height: 26px;
                color: $white;
                opacity: 0.7;
                max-width: 85%;
             }
             .examples_description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                //background: $lightOrange;
                background-image: url('@img/orange-square.webp');
                background-repeat: no-repeat;
                background-size: 100%;
                width: 50%;
                height: 825px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                }
             .examples_description-title {
               @include mainTitleWhite;
               font-size: 56px;
               line-height: 68px;
               margin: 0 0 32px 28.22%;
               max-width: 60%;
               z-index: 2;
                
             }
             .examples_description-text {
               font-size: 20px;
               line-height: 163.42%; 
               margin-left: 28.22%;
               max-width: 48%;
               font-family: $sansReg;
               color: $white;
               margin-bottom: 32px;
             z-index: 2;
              }
              .examples_description-link {
               font-family: $effraMed;
               font-size: 20px;
               line-height: 24px;
               color: $white;
               margin-left: 28.22%;
               display: flex;
               align-items: center;
               column-gap: 5px;
             z-index: 2;
              }
              .examples_description-link::after {
               content: url('@img/whiteArrow-right.svg');
               margin-top: 3px;
              }
              .examples_description-strip {
               position: absolute;
               right: 0%;
               bottom: 7%;
               z-index: -1;
               opacity: 0.05;
               object-fit: cover;
              }
   //feedback-------------------------------------------------------------------------------------------
   .main_feedback {
      width: 77.5%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 31.82%);
      grid-template-rows: auto auto;
      column-gap: 32px;
      margin-bottom: 100px;
   }         
   .main_feedback-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 80px;
   }  
   .feedback-header-description {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      padding-top: 51px;
   }
   .feedback-headerTitle {
      font-family: $effraMed;
      font-size: 56px;
      line-height: 68px;
      color: $black;
      max-width: 82%;
      letter-spacing: 0.005em;
   }
   .feedback-logo {
      display: block;
      max-width: 86px;
      max-height: 98px;
      object-fit: cover;
   }
   .feedback-header-text {
      font-family: $sansReg;
      font-size: 20px;
      line-height: 32.68px;
      color: $lightGrey;
      max-width: 71%;
      margin-top: -10px;
   }
   .feedback-imgWrapper {
      height: 100%;
      object-fit: cover;
      margin-top: -106px;
      margin-right: 0px;
      z-index: 5;
   }
   .main_feedback-item {
      max-width: 444px;
      min-height: 360px;
      display: flex;
      flex-direction: column;
      background: #FAF8F6;
      padding: 40px 0 30px 30px;
      box-sizing: border-box;
      position: relative;
  }
  .stars {
   max-width: 120px;
   max-height: 19px;
   margin-bottom: 20px;
  }
  .feedback-itemTitle {
   font-family: $effraMed;
   font-size: 20px;
   line-height: 24px;
   color: $black;
   letter-spacing: 0.005em;
   margin-bottom: 20px;
  }
  .feedback-itemText {
   font-family: $sansReg;
   font-size: 16px;
   line-height: 28px;
   color: $black;
   max-width: 91%;
   margin-top: -6px;
    }
  .feedback-item-avatarWrapper {
   white-space: nowrap;
   display: flex;
   align-items: center;
   column-gap: 15px;
    position: absolute;
    left: 30px;
    bottom: 30px;
 }
  .avatar-name {
   font-family: $sansBold;
   font-size: 16px;
   line-height: 22px;
   color: $black;
  }
  //bottom------------------------------------------------------------------
  .main_bottom {
   width: 100%;
   display: flex;
   justify-content: center;
   position: relative;
   margin-bottom: 100px;
  }
  .heart {
   max-width: 96px;
   max-height: 89px;
   margin-bottom: 51px;
  }
  .main_bottom-info {
   display: flex;
   flex-direction: column;
   align-items: center
  }
  .main_bottom-infoTitle {
    @include mainTitle();
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 36px;
  }
  .main_bottom-infoText {
   font-family: $sansReg;
   font-size: 20px;
   line-height: 32.68px;
   color: $lightGrey;
   width: 72%;
   text-align: center;
   margin-bottom: 49px
  }
  .main_bottom-infoButton {
   @include button();
   width: 260px;
   height: 74px;
   background: $purple;
   font-family: $sansBold;
   font-size: 20px;
   line-height: 163.42%;
   margin-bottom: 30px;
  }
  .main_bottom-img1 {
   position: absolute;
   left: 3%;
   top: 32.2%;
   transform: rotate(90deg);
  }
  .bottom-yellow {
   position: absolute;
   top: -5%;
   right: 0%;
  }
}
@media(min-width: 375px) and (max-width: 1024px) {
     ._upper-left-bottles {
      display: none;
   }
   ._upper-left-pillows {
      display: none;
   }
   ._middle-rightCircle {
      display: none;
   }
   ._boutles {
      display: none;
   }
   .main_wrapper {
      overflow: hidden;
   }
    .landing_header {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
       position: relative;
       margin-bottom: -23px;
       overflow: hidden;
    }
    
    .landing_header-left {
      width: 100%;
      margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 41px 20px 20px 20px;
    }
    .header_yellow-strip {
        position: absolute;
        top: 37%;
         right: -0.2%;
        max-width: 76px;
        transform: rotate(180deg)
        }
        .landing_header-title {
            @include mainTitle;
            font-size: 24px;
            line-height: 29px;
            max-width: 87%;
            letter-spacing: 0.007em;
            margin-bottom: 13px;
            text-align: center;
        }
        .orange-span {
            color: $mainOrange;
        }
        .landing_header-text {
            font-family: $sansReg;
            font-size: 14px;
            line-height: 22px;
            color: #808080;
            max-width: 96%;
            margin-bottom: 22px;
            text-align: center;
        }
        .header_link-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            column-gap: 34px;
        }
        ._header-button {
            @include button();
            background: $purple;
            width: 154px;
            height: 50px;
            font-size: 16px;
            line-height: 19px;
            font-family: $effraBold;
            margin-bottom: 18px;
        }
        ._header-link {
            font-size: 14px;
            line-height: 17px;
            font-family: 'Effra-Medium';
            color: $mainOrange;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
        ._header-link::after {
            content: url('@img/rightArrow-mobile.svg');
            margin-top: 5px;
        }
        .header_darkOrangeStrip {
            position: absolute;
            bottom: 37px;
            left: 50%;
            transform: translate(-50%);
            display: none;
        }
        .headerMobile_darkOrange {
         position: absolute;
         top: 6.4%;
         left: 0;
        }
        .landing_header-right {
            width: 100%;
            height: 341px;
            margin-top: 0px;
            z-index: -1;
            background: $white;
             display: flex;
             flex-direction: column;
             align-items: center;
            
        }
        ._header-right-imgWrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: -1;
        }
        ._header-right-imgWrapper img {
          object-fit: cover;
          z-index: -1;
           
             }
             ._purple-circle {
                z-index: 5;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-width: 523px;
                max-height: 523px;
                display: none;
             }
             ._boutles-mobile {
               margin-top: -51px;
               z-index: 3;
             }
             ._yellow-circle {
               position: absolute;
               bottom: -2%;
               right: 4.2%;
               z-index: 21;
               max-width: 60px;
               max-height: 60px;
               display: none;
            }
             //main-------------------------------------------------------------------------------------
             .mainBlock_wrapper {
                position: relative;
                //overflow: hidden;
             }
             .main_upper {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                position: relative;
                  }
             .main_upper-left {
               max-height: 198px;
                position: relative;
                 }
             ._upper-leftBg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
             }
             .main_orange-circle {
                position: absolute;
                top: -15.2%;
                right: 4.7%;
                max-width: 60px;
                z-index: 8;
             }
             .main_upper-leftTitle {
                @include mainTitleWhite();
                z-index: 3;
                position: absolute;
                top: 51%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 24px;
                line-height: 29px;
                width: 80%;
                text-align: center;
             }
             .main_upper-right {
                 display: flex;
                 flex-direction: column;
                padding: 40px 20px 0 20px;
                row-gap: 40px;
             }
             .main_upper-rightRow {
                display: flex;
                align-items: center;
                column-gap: 25px;
             }
             .main_upper-rightRow img {
               max-width: 46px;
               max-height: 48px;
               object-fit: cover;
             }
             ._row-text {
                font-family: $effraMed;
                font-size: 14px;
                line-height: 17px;
                color: $black;
                max-width: 100%;
             }
             ._rightRow-margin {
                margin-left: 3px;
             }
             ._mob-bottles {
                position: absolute;
                bottom: -46.4%;
                left: 0%;
                z-index: 2;
                max-width: 202px;
                max-height: 171px;
             }
             ._mob-pillows {
                position: absolute;
                 right: 0.2%;
                bottom: -60.3%;
                z-index: 1;
                max-width: 291px;
                max-height: 213px;
             }
             .main_middle {
                display: grid;
                grid-template-columns: 100%;
                padding: 333px 0 0 0;
                  }
             .main_middle-stripWrapper {
                padding-top: 16px;
                display: none;
             }
            
             .main_middle-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 29px;
                margin: 0 auto;
                padding: 0 20px 0 20px;
             }
             ._middle-infoLogo {
                 max-width: 50px;
                 max-height: 50px;
                object-fit: cover;
                margin-bottom: 3px
             }
             ._middle-infoTitle {
                @include mainTitle();
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                max-width: 90%;
                
             }
             ._middle-infoText {
                font-size: 14px;
                line-height: 22.08px;
                font-family: $sansReg;
                color: $lightGrey;
                text-align: center;
                margin-top: -16px;
                max-width: 97%;
                 }
             ._middle-infoLink {
                @include button();
                width: 154px;
                height: 50px;
                background: $purple;
                font-size: 16px;
                line-height: 19px;
                font-family: $effraBold;
                 }
             ._mob-purpleBall {
                position: absolute;
                top: 26.8%;
                right: 0%;
                z-index: 1;
                max-width: 60px;
             }
             ._middle-rightStrip {
                z-index: 2;
                margin-top: -335px;
                margin-left: 50px;
                opacity: 0.05;
                object-fit: cover;
                display: none;
             }
             //main-examples---------------------------------------------------------------------
             .main_examples {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 825px;
                align-items: center;
                margin-top: 50px;
                overflow: hidden;
                position: relative;
                margin-top: 60px;
             }
             .examples_card {
                width: 100%;
                height: 352px;
                display: flex;
                flex-direction: column;
                background: #89D4A7;
                padding: 15px 20px 20px 20px;
               margin-top: -31px;
               border-radius: 16px;
               box-sizing: border-box;
                  }
              ._examples_card1 {
               position: absolute;
               top: 55.3%;
               left: 97%;
               transform: translate(0,-50%);
               width: 89.33%;
               } 
             ._examples_card2 {
                background: #9C91E0;
                z-index: 1;
                position: absolute;
                top: 55.3%;
                left: 20px;
                transform: translate(0,-50%);
                width: 89.33%;
                 }
             .examples_card-img {
                object-fit: cover;
                max-width: 253px;
                max-height: 183px;
                align-self: center;
                margin-bottom: 20px;
                 
             }
             .examples_card-name {
                font-family: $sansSemi;
                font-size: 12px;
                line-height: 16px;
                color: $white;
                margin-bottom: 10px;
                opacity: 0.7;
             }
             .examples_card-title {
                font-family: $effraMed;
                font-size: 18px;
                line-height: 22px;
                color: $white;
                margin-bottom: 16px;
             }
             .examples_card-description {
                font-family: $sansReg;
                font-size: 14px;
                line-height: 19px;
                color: $white;
                opacity: 0.7;
                max-width: 92%;
             }
             .examples_description {
                display: flex;
                flex-direction: column;
                align-items: center;
                //background: $lightOrange;
                background-image: url('@img/orange-square.webp');
                background-repeat: no-repeat;
                background-size: 110%;
                width: 100%;
                height: 370px;
                padding-top: 61px;
                 }
             .examples_description-title {
               @include mainTitleWhite;
               font-size: 24px;
               line-height: 28px;
               max-width: 100%;
               z-index: 2;
               text-align: center;
               margin-bottom: 14px;
             }
             .examples_description-text {
               font-size: 14px;
               line-height: 22.08px; 
               max-width: 90%;
               font-family: $sansReg;
               color: $white;
               margin-bottom: 23px;
               z-index: 2;
               text-align: center;
              }
              .examples_description-link {
               font-family: $effraMed;
               font-size: 14px;
               line-height: 17px;
               color: $white;
               display: flex;
               align-items: center;
               column-gap: 5px;
               margin-left: -4px;
              }
              .examples_description-link::after {
               content: url('@img/mob-white-arrow.svg');
               margin-top: 3px;
              }
              .examples_description-strip {
               position: absolute;
               right: 0%;
               bottom: 7%;
               z-index: -1;
               opacity: 0.05;
               object-fit: cover;
               display: none;
              }
   //feedback-------------------------------------------------------------------------------------------
  
   .main_feedback {
      width: 100%;
      margin-top: -275px;
      display: flex;
      flex-direction: column;
      padding: 60px 20px 0 20px;
       }         
   .main_feedback-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
       }  
   .feedback-header-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 31px;
      padding-top: 51px;
   }
   .feedback-headerTitle {
      font-family: $effraMed;
      font-size: 20px;
      line-height: 24px;
      color: $black;
      max-width: 82%;
      text-align: center;
   }
   .feedback-logo {
      display: block;
      max-width: 50px;
      max-height: 57px;
      object-fit: cover;
   }
   .feedback-header-text {
      font-family: $sansReg;
      font-size: 14px;
      line-height: 22.08px;
      color: $lightGrey;
      max-width: 100%;
      margin-top: -16px;
      margin-bottom: 34px;
      text-align: center;
   }
   .feedback-imgWrapper {
      height: 100%;
      object-fit: cover;
      margin-top: -106px;
      margin-right: 0px;
      z-index: 5;
      display: none;
   }
   .main_feedback-item {
      max-width: 444px;
      min-height: 360px;
      display: flex;
      flex-direction: column;
      background: #FAF8F6;
      padding: 30px 0 30px 20px;
      box-sizing: border-box;
      position: relative;
  }
  ._feedback-itemNone {
   display: none;
}
  .stars {
   max-width: 120px;
   max-height: 19px;
   margin-bottom: 16px;
  }
  .feedback-itemTitle {
   font-family: $effraMed;
   font-size: 16px;
   line-height: 19px;
   color: $black;
   margin-bottom: 20px;
   letter-spacing: 0.006em;
  }
  .feedback-itemText {
   font-family: $sansReg;
   font-size: 14px;
   line-height: 24px;
   color: $black;
   max-width: 94%;
   margin-top: -6px;
    }
  .feedback-item-avatarWrapper {
   white-space: nowrap;
   display: flex;
   align-items: center;
   column-gap: 15px;
    position: absolute;
    left: 20px;
    bottom: 20px;
 }
  .avatar-name {
   font-family: $sansBold;
   font-size: 14px;
   line-height: 19px;
   color: $black;
  }
  //bottom------------------------------------------------------------------
  .main_bottom {
   width: 100%;
   display: flex;
   justify-content: center;
   position: relative;
   margin-bottom: 41px;
   overflow: visible;
   }
  .heart {
   max-width: 50px;
   max-height: 46px;
   margin-bottom: 32px;
   margin-left: -18px;
  }
  .main_bottom-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 60px 20px 20px 20px
  }
  .main_bottom-infoTitle {
    @include mainTitle();
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
  }
  .main_bottom-infoText {
   font-family: $sansReg;
   font-size: 14px;
   line-height: 22.08px;
   color: $lightGrey;
   width: 100%;
   text-align: center;
   margin-bottom: 23px
  }
  .main_bottom-infoButton {
   @include button();
   width: 154px;
   height: 50px;
   background: $purple;
   font-family: $effraBold;
   font-size: 16px;
   line-height: 19px;
   margin-bottom: 18px;
   }
   ._header-link {
      margin-left: -3px;
   }
  .main_bottom-img1 {
    display: none;
  }
  .bottom-yellow {
    display: none;
  }
  .mob_yellow-bottom {
   position: absolute;
   top: 12.2%;
   left: 0%;
   }
   .mob_orange-bottom {
      position: absolute;
      bottom: -24.5%;
      right: 0%;
      z-index: 55;
     }
}
@media(min-width: 280px) and (max-width: 374px) {
    ._upper-left-bottles {
      display: none;
   }
   ._upper-left-pillows {
      display: none;
   }
   ._middle-rightCircle {
      display: none;
   }
   ._boutles {
      display: none;
   }
   .main_wrapper {
      overflow: hidden;
   }
    .landing_header {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
       position: relative;
       margin-bottom: -68px;
       overflow: hidden;
    }
    
    .landing_header-left {
      width: 100%;
      margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 41px 20px 20px 20px;
    }
    .header_yellow-strip {
        position: absolute;
        top: 37.5%;
         right: -4.2%;
        max-width: 76px;
        transform: rotate(180deg);
        }
        .landing_header-title {
            @include mainTitle;
            font-size: 24px;
            line-height: 29px;
            max-width: 87%;
            letter-spacing: 0.007em;
            margin-bottom: 13px;
            text-align: center;
        }
        .orange-span {
            color: $mainOrange;
        }
        .landing_header-text {
            font-family: $sansReg;
            font-size: 14px;
            line-height: 22px;
            color: #808080;
            max-width: 96%;
            margin-bottom: 22px;
            text-align: center;
        }
        .header_link-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            column-gap: 34px;
        }
        ._header-button {
            @include button();
            background: $purple;
            width: 154px;
            height: 50px;
            font-size: 16px;
            line-height: 19px;
            font-family: $effraBold;
            margin-bottom: 18px;
        }
        ._header-link {
            font-size: 14px;
            line-height: 17px;
            font-family: 'Effra-Medium';
            color: $mainOrange;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
        ._header-link::after {
            content: url('@img/rightArrow-mobile.svg');
            margin-top: 5px;
        }
        .header_darkOrangeStrip {
            position: absolute;
            bottom: 37px;
            left: 50%;
            transform: translate(-50%);
            display: none;
        }
        .headerMobile_darkOrange {
         position: absolute;
         top: 3.4%;
         left: 0;
        }
        .landing_header-right {
         width: 100%;
         height: 341px;
         margin-top: 0px;
         z-index: -1;
         background: $white;
          display: flex;
          flex-direction: column;
          align-items: center;
         
     }
     ._header-right-imgWrapper {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         z-index: -1;
     }
     ._header-right-imgWrapper img {
       object-fit: cover;
       z-index: -1;
        
          }
          ._purple-circle {
             z-index: 5;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%,-50%);
             max-width: 523px;
             max-height: 523px;
             display: none;
          }
          ._boutles-mobile {
            margin-top: -93px;
            z-index: 3;
            max-width: 100%;
          }
          ._yellow-circle {
            position: absolute;
            bottom: -2%;
            right: 4.2%;
            z-index: 21;
            max-width: 60px;
            max-height: 60px;
            display: none;
         }
          //main-------------------------------------------------------------------------------------
          .mainBlock_wrapper {
             position: relative;
             //overflow: hidden;
          }
          .main_upper {
             width: 100%;
             display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: auto;
             position: relative;
               }
          .main_upper-left {
            max-height: 198px;
             position: relative;
              }
          ._upper-leftBg {
             width: 100%;
             height: 100%;
             object-fit: cover;
             z-index: 0;
          }
          .main_orange-circle {
             position: absolute;
             top: -15.2%;
             right: 11.7%;
             max-width: 60px;
             z-index: 8;
          }
          .main_upper-leftTitle {
             @include mainTitleWhite();
             z-index: 3;
             position: absolute;
             top: 51%;
             left: 50%;
             transform: translate(-50%,-50%);
             font-size: 24px;
             line-height: 29px;
             width: 100%;
             text-align: center;
          }
          .main_upper-right {
              display: flex;
              flex-direction: column;
             padding: 40px 20px 0 20px;
             row-gap: 40px;
          }
          .main_upper-rightRow {
             display: flex;
             align-items: center;
             column-gap: 25px;
          }
          .main_upper-rightRow img {
            max-width: 46px;
            max-height: 48px;
            object-fit: cover;
          }
          ._row-text {
             font-family: $effraMed;
             font-size: 14px;
             line-height: 17px;
             color: $black;
             max-width: 100%;
          }
          ._rightRow-margin {
             margin-left: 3px;
          }
          ._mob-bottles {
             position: absolute;
             bottom: -40%;
             left: 0%;
             z-index: 2;
             max-width: 168px;
             max-height: 143px;
          }
          ._mob-pillows {
             position: absolute;
              right: 0%;
             bottom: -52.1%;
             z-index: 1;
             max-width: 256px;
             max-height: 186px;
          }
          .main_middle {
             display: grid;
             grid-template-columns: 100%;
             padding: 295px 0 0 0;
               }
          .main_middle-stripWrapper {
             padding-top: 16px;
             display: none;
          }
         
          .main_middle-info {
             width: 100%;
             display: flex;
             flex-direction: column;
             align-items: center;
             row-gap: 29px;
             margin: 0 auto;
             padding: 0 20px 0 20px;
          }
          ._middle-infoLogo {
              max-width: 50px;
              max-height: 50px;
             object-fit: cover;
             margin-bottom: 3px
          }
          ._middle-infoTitle {
             @include mainTitle();
             font-size: 24px;
             line-height: 29px;
             text-align: center;
             max-width: 90%;
             
          }
          ._middle-infoText {
             font-size: 14px;
             line-height: 22.08px;
             font-family: $sansReg;
             color: $lightGrey;
             text-align: center;
             margin-top: -16px;
             max-width: 97%;
              }
          ._middle-infoLink {
             @include button();
             width: 154px;
             height: 50px;
             background: $purple;
             font-size: 16px;
             line-height: 19px;
             font-family: $effraBold;
             margin-top: -6px;
              }
          ._mob-purpleBall {
             position: absolute;
             top: 25.63%;
             right: 0%;
             z-index: 1;
             max-width: 60px;
          }
          ._middle-rightStrip {
             z-index: 2;
             margin-top: -335px;
             margin-left: 50px;
             opacity: 0.05;
             object-fit: cover;
             display: none;
          }
          //main-examples---------------------------------------------------------------------
          .main_examples {
             display: flex;
             flex-direction: column;
             width: 100%;
             height: 825px;
             align-items: center;
             margin-top: 50px;
             overflow: hidden;
             position: relative;
             margin-top: 60px;
          }
          .examples_card {
             width: 98%;
             height: 367px;
             display: flex;
             flex-direction: column;
             background: #89D4A7;
             padding: 15px 20px 20px 20px;
            margin-top: -8px;
            border-radius: 16px;
            box-sizing: border-box;
               }
           ._examples_card1 {
            position: absolute;
            top: 56.3%;
            left: 97%;
            transform: translate(0,-50%);
            width: 89.33%;
            } 
          ._examples_card2 {
             background: #9C91E0;
             z-index: 1;
             position: absolute;
             top: 56.3%;
             left: 20px;
             transform: translate(0,-50%);
             width: 87.7%;
              }
          .examples_card-img {
             object-fit: cover;
             max-width: 253px;
             max-height: 183px;
             align-self: center;
             margin-bottom: 20px;
              
          }
          .examples_card-name {
             font-family: $sansSemi;
             font-size: 12px;
             line-height: 16px;
             color: $white;
             margin-bottom: 10px;
             opacity: 0.7;
          }
          .examples_card-title {
             font-family: $effraMed;
             font-size: 18px;
             line-height: 22px;
             color: $white;
             margin-bottom: 16px;
          }
          .examples_card-description {
             font-family: $sansReg;
             font-size: 14px;
             line-height: 19px;
             color: $white;
             opacity: 0.7;
             max-width: 92%;
          }
          .examples_description {
             display: flex;
             flex-direction: column;
             align-items: center;
             //background: $lightOrange;
             background-image: url('@img/orange-square.webp');
             background-repeat: no-repeat;
             background-size: 125.7%;
             width: 100%;
             height: 370px;
             padding-top: 61px;
              }
          .examples_description-title {
            @include mainTitleWhite;
            font-size: 24px;
            line-height: 28px;
            max-width: 100%;
            z-index: 2;
            text-align: center;
            margin-bottom: 14px;
          }
          .examples_description-text {
            font-size: 14px;
            line-height: 22.08px; 
            max-width: 90%;
            font-family: $sansReg;
            color: $white;
            margin-bottom: 23px;
            z-index: 2;
            text-align: center;
           }
           .examples_description-link {
            font-family: $effraMed;
            font-size: 14px;
            line-height: 17px;
            color: $white;
            display: flex;
            align-items: center;
            column-gap: 5px;
            margin-left: -4px;
           }
           .examples_description-link::after {
            content: url('@img/mob-white-arrow.svg');
            margin-top: 3px;
           }
           .examples_description-strip {
            position: absolute;
            right: 0%;
            bottom: 7%;
            z-index: -1;
            opacity: 0.05;
            object-fit: cover;
            display: none;
           }
//feedback-------------------------------------------------------------------------------------------

.main_feedback {
   width: 100%;
   margin-top: -275px;
   display: flex;
   flex-direction: column;
   padding: 98px 20px 0 20px;
    }         
.main_feedback-header {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
    }  
.feedback-header-description {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 31px;
   padding-top: 51px;
}
.feedback-headerTitle {
   font-family: $effraMed;
   font-size: 20px;
   line-height: 24px;
   color: $black;
   max-width: 82%;
   text-align: center;
}
.feedback-logo {
   display: block;
   max-width: 50px;
   max-height: 57px;
   object-fit: cover;
}
.feedback-header-text {
   font-family: $sansReg;
   font-size: 14px;
   line-height: 22.08px;
   color: $lightGrey;
   max-width: 100%;
   margin-top: -16px;
   margin-bottom: 34px;
   text-align: center;
}
.feedback-imgWrapper {
   height: 100%;
   object-fit: cover;
   margin-top: -106px;
   margin-right: 0px;
   z-index: 5;
   display: none;
}
.main_feedback-item {
   max-width: 444px;
   min-height: 360px;
   display: flex;
   flex-direction: column;
   background: #FAF8F6;
   padding: 25px 0 30px 20px;
   box-sizing: border-box;
   position: relative;
}
._feedback-itemNone {
display: none;
}
.stars {
max-width: 120px;
max-height: 19px;
margin-bottom: 16px;
}
.feedback-itemTitle {
font-family: $effraMed;
font-size: 16px;
line-height: 19px;
color: $black;
margin-bottom: 20px;
letter-spacing: 0.006em;
}
.feedback-itemText {
font-family: $sansReg;
font-size: 14px;
line-height: 24px;
color: $black;
max-width: 93%;
margin-top: -6px;
 }
.feedback-item-avatarWrapper {
white-space: nowrap;
display: flex;
align-items: center;
column-gap: 15px;
 position: absolute;
 left: 20px;
 bottom: 25px;
}
.avatar-name {
font-family: $sansBold;
font-size: 14px;
line-height: 19px;
color: $black;
}
//bottom------------------------------------------------------------------
.main_bottom {
width: 100%;
display: flex;
justify-content: center;
position: relative;
margin-bottom: 23px;
overflow: visible;
}
.heart {
max-width: 50px;
max-height: 46px;
margin-bottom: 32px;
 
}
.main_bottom-info {
display: flex;
flex-direction: column;
align-items: center;
padding: 57px 20px 20px 20px
}
.main_bottom-infoTitle {
 @include mainTitle();
 font-size: 24px;
 line-height: 29px;
 margin-bottom: 13px;
}
.main_bottom-infoText {
font-family: $sansReg;
font-size: 14px;
line-height: 22.08px;
color: $lightGrey;
width: 100%;
text-align: center;
margin-bottom: 23px
}
.main_bottom-infoButton {
@include button();
width: 154px;
height: 50px;
background: $purple;
font-family: $effraBold;
font-size: 16px;
line-height: 19px;
margin-bottom: 18px;
}
._header-link {
   margin-left: -3px;
}
.main_bottom-img1 {
 display: none;
}
.bottom-yellow {
 display: none;
}
.mob_yellow-bottom {
position: absolute;
top: 10.2%;
left: -2%;
 
}
.mob_orange-bottom {
   position: absolute;
   bottom: -18.5%;
   right: 0%;
   z-index: 55;
  }
}