@font-face {
  font-family: Montserrat-Semibold;
  font-display: swap;
  src: url("../../fonts/Montserrat-SemiBold.woff") format("woff2"), url("../../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
};
@font-face {
  font-family: Montserrat-Bold;
  font-display: swap;
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
};
@font-face {
  font-family: Montserrat-Extrabold;
  font-display: swap;
  src: url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
};
@font-face {
  font-family: Montserrat-Medium;
  font-display: swap;
  src: url("../../fonts/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
};
@font-face {
  font-family: Montserrat-Regular;
  font-display: swap;
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
};
@font-face {
  font-family: Effra-Bold;
  font-display: swap;
  src: url("../../fonts/Effra_Trial_Bd.woff2") format("woff2"), url("../../fonts/Effra_Trial_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
};
@font-face {
  font-family: Effra-Medium;
  font-display: swap;
  src: url("../../fonts/Effra_Trial_Md.woff2") format("woff2"), url("../../fonts/Effra_Trial_Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
};
@font-face {
  font-family: Effra-Reg;
  font-display: swap;
  src: url("../../fonts/Effra_Trial_Rg.woff2") format("woff2"), url("../../fonts/Effra_Trial_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
};
@font-face {
  font-family: Sans-Regular;
  font-display: swap;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
};
@font-face {
  font-family: Sans-Bold;
  font-display: swap;
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
};
@font-face {
  font-family: Sans-Semibold;
  font-display: swap;
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
};
